@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@fontsource/inter/300";
@import "@fontsource/inter/400";
@import "@fontsource/inter/500";
@import "@fontsource/inter/700";

@import "@fontsource/jetbrains-mono/400";
@import "@fontsource/jetbrains-mono/500";
@import "@fontsource/jetbrains-mono/600";

@import "@fontsource/major-mono-display/400.css";

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, "SF Mono",
    Consolas, "Liberation Mono", Menlo, monospace;
  --font-display: "Major Mono Display", ui-monospace, SFMono-Regular, "SF Mono";
}

@layer base {
  /* Override scrollbar styles */
  *,
  ::after,
  ::before {
    @apply /* Applied Styles */
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar]:h-2
    [&::-webkit-scrollbar-track]:bg-neutral-700
    [&::-webkit-scrollbar-thumb]:bg-neutral-500;
  }
}
